<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="mobi.prodfyplantas" android:installLocation="preferExternal" android:versionCode="3">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Prodfy.Android"></application>
</manifest>